.Text1{
    text-align: center;
    color: rgb(  183,132,167);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.3px  rgb(61, 0, 61);
}

body{
       background-image: url(Images/Backround.gif);
       background-repeat:repeat;
       background-size: cover;
    }